.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-list__link {
  display: block;
  transition-property: box-shadow;
  transition-duration: var(--timing-duration);
  transition-timing-function: var(--timing-function);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);

    & .project__text,
    & .project__text {
      transform: translateY(0);
    }
  }
}

/* Create overlay for card-box */

.project-content {
  position: relative;
  overflow: hidden;
}

.project__text {
  position: absolute;
  top: 0;
  left: 0;

  padding: 63px 24px;

  color: var(--primary-white-color);

  background-color: rgba(33, 150, 243, 0.9);

  font-size: 18px;
  line-height: 1.56;
  transform: translateY(100%);

  transition-property: transform;
  transition-duration: var(--timing-duration);
  transition-timing-function: var(--timing-function);
}

/* <<=====>> End create overlay for card-box <<=====>> */

.project-meta {
  border: 1px Solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}

.project-list__item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.project-meta__subtitle {
  margin-bottom: 4px;

  color: var(--title-text-color);

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-meta__text {
  color: var(--primary-text-color);

  font-size: 16px;
  line-height: 1.88;
}
