.clients-list {
  display: flex;

  flex-wrap: wrap;
 

  justify-content: center;

  gap: 30px;
  color: inherit;
}

.clients-list__item {
  max-width: 100%;
 
}

.clients-list__link {
  display: flex;

  border: 1px solid #afb1b8;
  border-radius: 4px;

  min-width: 130px;
  max-width: 210px;
  height: 92px;
  justify-content: center;
  align-items: center;
  color: var(--color-icon);

  transition-property: color, border;
  transition-duration: var(--timing-duration);
  transition-timing-function: var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 226px;
  }

  @media screen and (min-width: 1200px) {
    width: 170px;
  }
}

.clients-list__icon {
  fill: currentColor;
}
